[init]
	defaultBranch = main
[user]
	email = aphidarium@proton.me
	name = aphd
[core]
	editor = nvim
[alias]
	patch = apply --reject --whitespace=fix
  pushall = !git remote | xargs -L1 git push --all
  p = pushall
	d = diff
	a = add
	st = status
	s = status
	ca = commit --amend
	cm = commit -m
	c = commit -m
[color]
	ui = auto
