dwm.normfgcolor:     #bbbbbb
!dwm.normfgcolor:     #ff00ff
dwm.normbgcolor:     #222222
dwm.normbordercolor: #444444
dwm.selfgcolor:      #eeeeee
dwm.selbgcolor:      #005577
dwm.selbordercolor:  #005577
