!! dwm

dwm.font: Inter:size=10
dwm.dmenufont: Inter:size=10

dwm.normbgcolor: #222222
dwm.normbordercolor: #444444
dwm.normfgcolor: #bbbbbb
dwm.selbgcolor: #005577
dwm.selbordercolor: #005577
dwm.selfgcolor: #eeeeee

dwm.borderpx: 2

!! st

st.font: Liberation Mono

st.norm1: #000000
st.norm2: #cd0000
st.norm3: #00cd00
st.norm4: #cdcd00
st.norm5: #0000ee
st.norm6: #cd00cd
st.norm7: #00cdcd
st.norm8: #e5e5e5
st.bright1: #7f7f7f
st.bright2: #ff0000
st.bright3: #00ff00
st.bright4: #ffff00
st.bright5: #5c5cff
st.bright6: #ff00ff
st.bright7: #00ffff
st.bright8: #ffffff

st.foreground: #e5e5e5
st.background: #000000
st.cursorcolor: #e5e5e5
